In [1]:
import pandas as pd
df2 = pd.read_csv("lc_loan.csv")

In [2]:
import numpy as np

In [3]:
df1=pd.read_csv("lc_2016_2017.csv")

In [4]:
df1.loan_status[df1.loan_status=='Default']='Charged Off'

In [5]:
df2.loan_status[df2.loan_status=='Default']='Charged Off'

In [16]:
df1.to_csv('df1.csv')

In [17]:
df2.to_csv('df2.csv')

In [7]:
df1.loan_status.value_counts()

Current               565523
Fully Paid            130718
Charged Off            37233
Late (31-120 days)     15354
In Grace Period         6634
Late (16-30 days)       3876
Name: loan_status, dtype: int64

In [18]:
dff2=df2[df2.loan_status.isin(['Charged Off','Fully Paid'])]
dff2.reset_index(inplace=True,drop=True)

In [19]:
dff1=df1[df1.loan_status.isin(['Charged Off','Fully Paid'])]
dff1.reset_index(inplace=True,drop=True)

In [11]:
dff1[dff1.loan_amnt == np.nan]

Empty DataFrame
Columns: [id, member_id, loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, pymnt_plan, desc, purpose, title, zip_code, addr_state, dti, delinq_2yrs, earliest_cr_line, inq_last_6mths, mths_since_last_delinq, mths_since_last_record, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, next_pymnt_d, last_credit_pull_d, collections_12_mths_ex_med, mths_since_last_major_derog, policy_code, application_type, annual_inc_joint, dti_joint, verification_status_joint, acc_now_delinq, tot_coll_amt, tot_cur_bal, open_acc_6m, open_il_12m, open_il_24m, mths_since_rcnt_il, total_bal_il, il_util, open_rv_12m, open_rv_24m, max_bal_bc, all_util, total_rev_hi_lim, inq_fi, total_cu_tl, inq_last_12m]
Index: []

[0 rows x 72 columns]

In [22]:
dff2[dff2.loan_amnt == '']

Empty DataFrame
Columns: [id, member_id, loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, pymnt_plan, url, desc, purpose, title, zip_code, addr_state, dti, delinq_2yrs, earliest_cr_line, inq_last_6mths, mths_since_last_delinq, mths_since_last_record, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, next_pymnt_d, last_credit_pull_d, collections_12_mths_ex_med, mths_since_last_major_derog, policy_code, application_type, annual_inc_joint, dti_joint, verification_status_joint, acc_now_delinq, tot_coll_amt, tot_cur_bal, open_acc_6m, open_il_6m, open_il_12m, open_il_24m, mths_since_rcnt_il, total_bal_il, il_util, open_rv_12m, open_rv_24m, max_bal_bc, all_util, total_rev_hi_lim, inq_fi, total_cu_tl, inq_last_12m]
Index: []

[0 rows x 74 columns]

In [24]:
dff=pd.concat([dff1,dff2],axis=1)

In [29]:
dff=dff1.append(dff2,ignore_index=True)

In [30]:
dff.to_csv('lc_cleaned_combined.csv')

In [31]:
dff.index

RangeIndex(start=0, stop=422141, step=1)