In [ ]:
from sklearn.linear_model import LogisticRegression
import joblib

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
df=pd.read_csv('/content/lc_cleaned_combined.csv')

In [ ]:
df.columns

Index(['Unnamed: 0', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term',
       'int_rate', 'grade', 'emp_title', 'emp_length', 'home_ownership',
       'annual_inc', 'issue_d', 'loan_status', 'purpose', 'addr_state', 'dti',
       'delinq_2yrs'],
      dtype='object')

In [ ]:
x=df[[ 'loan_amnt', 'term',
       'grade',  'emp_length', 'home_ownership',
       'annual_inc',  'purpose', ]]

In [ ]:
y=df.loan_status

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test =train_test_split(x,y,test_size =0.15,random_state=0)

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder

In [ ]:
x_train[:5]

        loan_amnt       term  ... annual_inc             purpose
101623    30000.0  36 months  ...    73600.0  debt_consolidation
38794      8400.0  36 months  ...    70000.0         credit_card
119929    12000.0  36 months  ...    50000.0  debt_consolidation
139986    26250.0  36 months  ...   200000.0               house
85159     18000.0  60 months  ...    75000.0  debt_consolidation

[5 rows x 7 columns]

In [ ]:
### label encode the categorical values and convert them to numbers 
le = LabelEncoder()
for i in ['term','grade','emp_length','home_ownership','purpose']: 
  le.fit(x_train[i].astype(str))
  x_train[i] = le.transform(x_train[i].astype(str))
  x_test[i] = le.transform(x_test[i].astype(str))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
x_train

        loan_amnt  term  grade  emp_length  home_ownership  annual_inc  purpose
101623    30000.0     2      3           6               5     73600.0        2
38794      8400.0     2      1           1               1     70000.0        1
119929    12000.0     2      2           2               5     50000.0        2
139986    26250.0     2      4           6               1    200000.0        5
85159     18000.0     3      1           1               1     75000.0        2
...           ...   ...    ...         ...             ...         ...      ...
176963     5350.0     0      1           1               1     58000.0        2
117952    12000.0     2      2           1               1     38000.0        2
173685     2500.0     1      2           1               1     95832.0        0
43567     18000.0     3      3           9               4     61000.0        1
199340     9600.0     0      3           1               1     67350.0        2

[176796 rows x 7 columns]

In [ ]:
# sc=StandardScaler()
# x_train=sc.fit_transform(x_train)
# x_test=sc.fit_transform(x_test)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=50, oob_score=True, random_state=123456)
rf.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=50,
                       n_jobs=None, oob_score=True, random_state=123456,
                       verbose=0, warm_start=False)

In [ ]:
from sklearn.metrics import accuracy_score
y_pred=rf.predict(x_test)
accuracy_score(y_test,y_pred)

0.7582051282051282

In [ ]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
from sklearn.metrics import accuracy_score
y_pred=lr.predict(x_test)
accuracy_score(y_test,y_pred)

0.7915064102564102

In [ ]:
#save rf model
joblib.dump(rf,"sklearn_rf-50trees.joblib",compress=3)

['sklearn_rf-50trees.joblib']

In [ ]:
joblib.dump(lr,"sklearn_lr.joblib",compress=3)

['sklearn_lr.joblib']

In [ ]:
prediction=rf.predict(x_test)

In [ ]:
pd.DataFrame(prediction).value_counts()

Fully Paid     29245
Charged Off     1955
dtype: int64

In [ ]:
userdf=pd.DataFrame(columns=[ 'loan_amnt', 'term',
       'int_rate', 'grade',  'emp_length', 'home_ownership',
       'annual_inc',  'purpose', ])

In [ ]:
user_input=x.iloc[1,]

In [ ]:
user_input

loan_amnt                       7200
term                       36 months
int_rate                       24.85
grade                              E
emp_length                   2 years
home_ownership                  RENT
annual_inc                     50000
purpose           debt_consolidation
Name: 1, dtype: object

In [ ]:
userdf=userdf.append(user_input)

In [ ]:
userdf=pd.DataFrame.from_dict( {'loan_amnt': [1000], 'term':[0],
        'grade':[0],  'emp_length':[0], 'home_ownership':[0],
       'annual_inc':[1000],  'purpose':[0]} )

In [ ]:
userdf

   loan_amnt  term  grade  emp_length  home_ownership  annual_inc  purpose
0       1000     0      0           0               0        1000        0

In [ ]:
### label encode the categorical values and convert them to numbers 
le = LabelEncoder()

for i in ['term','grade','emp_length','home_ownership','purpose']: 
  le.fit(userdf[i].astype(str))
  userdf[i] = le.transform(userdf[i].astype(str))

In [ ]:
rf.predict_proba(userdf)

ValueError: ignored

In [ ]:
rf.predict(userdf)

array(['Fully Paid'], dtype=object)

In [ ]:
rf.predict_proba(userdf)[0][1]

0.74

In [ ]:
from sklearn.metrics import accuracy_score
y_pred=rf.predict(x_test)
accuracy_score(y_test,y_pred)

0.7771153846153847